streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
imbalanced-learn
requests

xgboost
lightgbm
catboost
shap

# optional (keep only if your Streamlit Cloud build supports them)
pytorch-tabnet
tabpfn

